/* static/css/style.css */
.custom-navbar {
    background-color: #c64b3c; /* Color de fondo de la barra de navegación */
}

.letter-navbar{
    color: #fff;
    font-size: 25px;
}

.footer{
    color: #fff;
}

.icon{
    width: 20%;
}


.logo{
    position: relative;
    left: 30%;
    top: 100%;
}

.color_button{
  background-color: deeppink;
}

.campos{
    position: relative;
    top: 100%;
    left: 42%;
}

.campo_boton{
    position: relative;
    top: 100%;
    left: 46%;
    font-size: 16px;
}

.footer_size{
    height: 73px;
}