{% load static %} <!-- Django template tag to load static files -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dinespot{% endblock %}</title>
    <!-- Link to the Bootstrap CSS, assuming you've stored it in 'static/bootstrap/css/' -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <!-- Optional: include your own stylesheet for custom styles -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <!-- Example of a Bootstrap navbar -->
        <nav class="navbar navbar-expand-lg custom-navbar">
            <div class="container-fluid">
                <a class="navbar-brand letter-navbar" href="{% url 'dinespotapp' %}">
                    <img class="icon" src="{% static 'img/DinespotLogo.jpg' %}" alt="Dinespot">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link letter-navbar" aria-current="page" href="{% url 'dinespotapp' %}">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link letter-navbar" href="{% url 'restaurant' %}">Restaurants</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link letter-navbar" href="{% url 'reservations' %}">Reservations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link letter-navbar" href="{% url 'business' %}">Business</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="container-fluid mt-4">
        {% block content %}
        <!-- This block will be overridden by child templates. -->
        {% endblock %}
    </main>

    <footer class="custom-navbar text-center text-lg-start">
        <div class="text-center p-3 footer" style="background-color: rgba(0, 0, 0, 0);">
            © 2024 Dinespot
        </div>
    </footer>

    <!-- Bootstrap JS and optional JavaScript -->
    <!-- jQuery, Popper.js, and Bootstrap JS (Bootstrap Bundle includes Popper) -->
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
