/* static/css/style.css */
.custom-navbar {
    background-color: #c64b3c; /* Color de fondo de la barra de navegación */
}

.letter-navbar{
    color: #fff;
    font-size: 25px;
}

.footer{
    color: #fff;
}

.icon{
    width: 20%;
}


/*.logo{
    position: relative;
    left: 30%;
    top: 100%;
}*/

.logo {
    display: block; /* Para asegurar que la imagen se muestre como un bloque */
    margin: 0 auto; /* Centrar horizontalmente la imagen */
    max-width: 100%; /* Ajustar el tamaño máximo de la imagen al contenedor */
    height: auto; /* Mantener la proporción de aspecto de la imagen */
    position: relative;
    left: 30px;
}